header {
    background-color: #E91E63;   
}

footer{
    background-color: #E91E63;  
    position: fixed;
    left: 0px;
    bottom:0px;
    width: 100%;
}
#dropdown{
    background-color: #E91E63;
}

body{
   background-color: black;
}

#cuerpo {
    background-color: #ffcadb;
}
 