header {
  background-color: #e91e63;
}
body {
  background-image: url("../Img/fondo.png");
  width: 100vw;
  background-size: cover;
}
footer {
  background-color: #e91e63;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: fit-content;
}
#dropdown {
  background-color: #e91e63;
}

#cuerpo {
  background-color: #ffcadb;
}

#navbarHeader a:hover {
  background-color: #e33670;
}

/*ESTILOS PARA LOS GRAFICOS*/
.contenedorGrafico {
  width: 100%;
  height: 500px;
  background-color: rgba(233, 30, 99, 0.3);
}